---
layout: home
---

{% assign box = site.boxes | where:"title","main" %}

<div class="grid-wrapper">
	<ul class="home boxes-columns grid">
		<li class="grid-sizer"></li>
		<li class="grid-item">
			<div class="grid-item-container">
				<div class="box apply-now">
			    	{{ box }}
				</div>
			</div>
		</li>
	{% assign sorted = (site.homepage | sort: 'date') | reverse %}
	{% for item in sorted %}
	<li class="grid-item">
		<div class="grid-item-container">
		{% capture suptitle %}
			<time datetime="{{ item.date | date_to_xmlschema }}" itemprop="datePublished">
				{{ item.date | date: "%d.%m.%Y" }}
			</time>
		{% endcapture %}

		{% if item.categories contains 'project' %}
			{% assign img = item.relative_path | replace: "/index.md", "/main.jpg" %}
		{% else %}
			{% assign img = item.relative_path | replace: '.md', '.jpg' %}
		{% endif %}

		{% component contentBox %}
			item:
				url: ->item.url
				image: ->img
				superTitle: ->suptitle
				title: ->item.title
				strip: ->item.categories
		{% endcomponent %}

		</div>
	</li>
	{% endfor %}
	</ul>
</div>

<div class="sub-container">
	<div class="forward">
		<div class="read-more">
			<p><a href="/news">All News</a></p>
		</div>
		<div class="read-more">
			<p><a href="/workshops">All Workshops</a></p>
		</div>
	</div>

	<div class="forward">
		<div class="socials">
			<p><a href="https://www.facebook.com/Master-in-Interaction-Design-SUPSI-98971502631/" target="_blank">Facebook</a></p>
		</div>

		<div class="socials">
			<p><a href="https://twitter.com/MAInDmaster" target="_blank">Twitter</a></p>
		</div>
	</div>

	{% include maillist.html %}
</div>