<header>
    <div class="site-header-inner">
        <input type="checkbox" class="menu-toggler" id="menutoggler">

        <a href="/" class="icon supsi logo" id="main_logo"><span>SUPSI</span></a>

        <label for="menutoggler" aria-role="button" class="menu-button">
            <div class="hamburger hamburger--3dy-r">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
        </label>

        <nav class="main-nav">
            <ul>
                <li>
                    <a href="{{ "/program/" | prepend: site.baseurl }}" class="{% if page.title == 'Program': %}{{'selected'}}{% endif %}">Program</a>
                </li>
                <li>
                    <a href="{{ "/admission/" | prepend: site.baseurl }}" class="{% if page.title == 'Admission': %}{{'selected'}}{% endif %}">Admission</a>
                </li>
                <li>
                    <a href="{{ "/people/" | prepend: site.baseurl }}" class="{% if page.title == 'People': %}{{'selected'}}{% endif %}">People</a>
                </li>
                <li>
                    <a href="{{ "/students/" | prepend: site.baseurl }}" class="{% if page.title == 'Students': %}{{'selected'}}{% endif %}">Students</a>
                </li>
                <li>
                    <a href="{{ "/portfolio/" | prepend: site.baseurl }}" class="{% if (page.title == 'Portfolio' or page.path contains 'project'): %}{{'selected'}}{% endif %}">Portfolio</a>
                </li>
                <!-- <li>
                    <a href="{{ "/workshops/" | prepend: site.baseurl }}">Workshops</a>
                </li> -->
                <li>
                    <a href="{{ "/contacts/" | prepend: site.baseurl }}" class="{% if page.title == 'Contacts': %}{{'selected'}}{% endif %}">Contacts</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="header-placeholder"></div>
