<head>

	<!-- meta tags for SEO -->

	<!-- general -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Interaction Design - Master SUPSI {% if page.title %}{{ page.title }}{% else %}{% endif %}</title>
	<meta itemprop="description" name="description" content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />
	<meta name="keywords" content=“master, interaction, design, advanced, open” />


	<!-- Open Graphs (facebook) -->

	<meta property="og:locale" content="en_US">
	<meta property="og:type" content="article">
	<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta property="og:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}">
	<meta property="og:image" content="{{ site.url }}{% if page.categories contains 'project' %}{{ page.url | remove: 'index.html' }}{{ 'main.jpg' }}{% elsif page.categories contains 'workshop' or page.categories contains 'openlecture' or page.categories contains 'news' %}{% component checkFileExist %}
		ogimage: ->page.relative_path
	{% endcomponent %}{% else %}{{ '/images/logo_maind_social.png'}}{% endif %}" />
	<meta property="og:site_name" content="Master of Advanced Studies in Interaction Design">
	<meta property="article:publisher" content="https://www.facebook.com/maindmaster" />
	<meta property="article:author" content="https://www.facebook.com/maindmaster" />
	<meta property="article:published_time" content="{{ page.date }}" />
	<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

	<!-- twitter -->

	<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
	<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
	<meta name="twitter:site" content="@MAInDmaster" />
	<meta name="twitter:creator" content="@MAInDmaster">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:image" content="{{ site.url }}{% if page.categories contains 'project' %}{{ page.url | remove: 'index.html' }}{{ 'main.jpg' }}{% elsif page.categories contains 'workshop' or page.categories contains 'openlecture' or page.categories contains 'news' %}{{ page.url | remove: '.html' }}{{ '.jpg' }}{% else %}{{ '/images/logo_maind_social.png'}}{% endif %}">
	

	<!-- stylesheet links -->

	<link rel="stylesheet" href={{ site.baseurl }} "/css/main.css">
	<link rel="stylesheet" href={{ site.baseurl }} "/css/lightbox.css">

	<!-- icons link -->

	<link rel="apple-touch-icon" sizes="57x57" href="{{ images/favicon/apple-icon-57x57.png | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="60x60" href="{{ images/favicon/apple-icon-60x60.png | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ images/favicon/apple-icon-72x72.png | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="76x76" href="{{ images/favicon/apple-icon-76x76.png | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ images/favicon/apple-icon-114x114.png | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="120x120" href="{{ images/favicon/apple-icon-120x120.png | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="144x144" href="{{ images/favicon/apple-icon-144x144.png | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="152x152" href="{{ images/favicon/apple-icon-152x152.png | prepend: site.baseurl }}">
	<link rel="apple-touch-icon" sizes="180x180" href="{{ images/favicon/apple-icon-180x180.png | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="192x192"  href="{{ images/favicon/android-icon-192x192.png | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ images/favicon/favicon-32x32.png | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ images/favicon/favicon-96x96.png | prepend: site.baseurl }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ images/favicon/favicon-16x16.png | prepend: site.baseurl }}">
	<link rel="manifest" href="{{ images/favicon/manifest.json | prepend: site.baseurl }}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{{ images/favicon/ms-icon-144x144.png | prepend: site.baseurl }}">
	<meta name="theme-color" content="#ffffff">

	<!-- other -->

	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
	<script src="/js/js.cookie.js"></script>

	{% if page.url == "/" or page.title == "Program" or page.title == "Admission" %}
	<!-- Facebook Pixel Code -->
	<script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '1867523809984535','362449007496208'); fbq('track', 'PageView'); fbq('track', 'syntheticPageView');</script><noscript> <img height="1" width="1" src="https://www.facebook.com/tr?id=1867523809984535&ev=PageView&noscript=1"/></noscript>
	<!-- End Facebook Pixel Code -->
	{% endif %}

</head>