<header id="header" class="site-header">

    <div id="header_top">
        <img id="logo_supsi" src="{{ "/images/logo_supsi.png" | prepend: site.baseurl }}">

        <div id="socials">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter-square"></i>
            <i class="fa fa-vimeo-square"></i>
            <i class="fa fa-flickr"></i>
        </div>
    </div>

    <div id="header_bottom">

        <img id="logo_maind" src="{{ "/images/logo_maind.png" | prepend: site.baseurl }}">

        <nav id="header_nav">
            <a href="{{ "/program/" | prepend: site.baseurl }}">Program</a> /
            <a href="{{ "/admission/" | prepend: site.baseurl }}">Admission</a> /
            <a href="{{ "/people/" | prepend: site.baseurl }}">People</a> /
            <a href="{{ "/students/" | prepend: site.baseurl }}">Students</a> /
            <a href="{{ "/portfolio/" | prepend: site.baseurl }}">Portfolio</a> /
            <a href="{{ "/contacts/" | prepend: site.baseurl }}">Contacts</a>
        </nav>

    </div>

</header>