<header id="header" class="site-header">

    <div id="header_top">
        <img id="logo_supsi" src="{{ "/images/logo_supsi.png" | prepend: site.baseurl }}">

        <div id="socials">
            <a href="https://www.facebook.com/Master-in-Interaction-Design-SUPSI-98971502631" target="_blank">Facebook</a> /
            <a href="https://twitter.com/maindmaster" target="_blank">Twitter</a> /
            <a href="https://vimeo.com/maindmastersupsi">Vimeo</a> /
            <a href="https://www.flickr.com/photos/maindinteraction/" target="_blank">Flickr</a>
        </div>
    </div>

    <div id="header_bottom">

        <a href="http://localhost:3000/"><img id="logo_maind" src="{{ "/images/logo_maind.png" | prepend: site.baseurl }}"></a>

        <nav id="header_nav">
            <a href="{{ "/program/" | prepend: site.baseurl }}">Program</a> /
            <a href="{{ "/admission/" | prepend: site.baseurl }}">Admission</a> /
            <a href="{{ "/people/" | prepend: site.baseurl }}">People</a> /
            <a href="{{ "/students/" | prepend: site.baseurl }}">Students</a> /
            <a href="{{ "/portfolio/" | prepend: site.baseurl }}">Portfolio</a> /
            <a href="{{ "/contacts/" | prepend: site.baseurl }}">Contacts</a>
        </nav>

    </div>

</header>