<form class="mail-form" id="mailform" action="//supsi.us2.list-manage.com/subscribe/post?u=210d29ccb5753cd5de14eb18f&amp;id=267c9d7677" method="post" name="mc-embedded-subscribe-form" target="_blank">
	<h2>MAInD newsletter</h2>
	<input placeholder="email" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL">
  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true">
    	<input type="text" name="b_210d29ccb5753cd5de14eb18f_267c9d7677" tabindex="-1" value="">
    </div>
    <div class="clearfix">
    	<input type="submit" value="subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
</form>