// primary

$black: hsl(0, 0%, 0%); 
$black: hsl(200, 30%, 10%); // pure black is generally considered a design "don't"
$cyan: hsl(200, 100%, 50%);
$gray: hsl(210, 4%, 91%);
$grey: $gray; // spelling "grey" was never simple. 
$white: hsl(0, 0%, 100%);

$print-black: #000;
