
.black-boxes-container {
	@include span-columns(12);
	margin-top: 3rem;

	a {
		display: block;
		text-decoration: none;
		@include span-columns(4 of 12);

		@media all and (max-width: 1023px) {
			@include span-columns(12 of 12);
			margin-bottom: 2rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.forward {
		
		position: relative;
		background-color: $black;
		padding: .5rem 1rem;
		height: 8rem;

		h3 {
			@extend %large;
			@extend %medium-weight;
			width: 100%;
			color: $white;
			display: block;
		}

		p {
			@extend %large;
			@extend %medium-weight;
			width: 100%;

			color: $white;
			margin-bottom: 0;
			
			span {
				border-bottom: .1rem solid $cyan;
			}

			&.bottom {
				position: absolute;
				bottom: 1rem;

				img {
					display: inline-block;
					border: none;
					height: 1rem;
					width: auto;
					margin-left: 1rem;
				}
			}
		}

		

	}
}