
.home {
	.grid-wrapper {
		position: relative;
		left: -0.5rem;

		margin-bottom: 0rem;

		@media all and (min-width: 768px) {	
			margin-bottom: 5rem;
		}

	}

	.grid {
		width: 100%;
	}

	.grid:after {
	  content: '';
	  display: block;
	  clear: both;
	}

	.grid-sizer, .grid-item {
		width: 100%;

		@media all and (min-width: 768px) {	
			width: 50%;
		}

		@media all and (min-width: 1167px) {
			width: 33.3333%;
		}	
	}

	.grid-item .content-box > img {
		width: 100%;
	}

	.grid-item-container {
		padding: 0 0.5rem;
	}
}



.home {

	main {
		padding: 0 0 0 1rem;
	}

	.apply-now {
		p {
			@extend %large;
			@extend %medium-weight;
			margin-bottom: 1.5rem;
		}

		height: 22rem;
	}

	> main .boxes-columns {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}


	.sub-container {
		@include outer-container;
		padding: 0 1rem 0 0;

		.forward {
			@extend %medium;
			@extend %medium-weight;
			@include clearfix;
			@include span-columns(4);
			@include omega(3n);
			height: 9rem;
			padding: 0 0 0 1rem;
			//background-color: $cyan;	// better black...
			background-color: $black;

			.socials {
				//@include span-columns(2 of 4);
			}

			a {
				color: $white;
				text-decoration: none;
				border-bottom: .1rem solid $cyan;
			}
		}
	}

	@media all and (min-width: 768px) and (max-width: 1167px) {
		.sub-container .forward {
			@include span-columns(6);
			@include omega(2n);
			margin-bottom: 1rem;
			height: 9rem;
		}
	}

	@media all and (max-width: 767px) {
		.sub-container .forward {
			@include span-columns(12);
			margin-bottom: 1rem;
			min-height: 3rem;
			height: auto;

			.socials {
				//@include span-columns(12 of 12);
			}
		}
		.apply-now {
			height: 11rem;
		}
	}

}

/*
	.sub-container > div {
		height: 9rem;

		.forward {
			@include clearfix;
			background-color: $cyan;	// better black...
			background-color: $black;
			
			a {	
				color: inherit;
				text-decoration: none;
			}

			p {
				@extend %medium;
				@extend %medium-weight;

				color: $white;
				margin-bottom: 0;

				&.icon {
					text-align: right;
				}
			}
		}

	}
}

@media all and (min-width: 768px) {
	.home {
		.read-more, .socials {
			background-color: $black;
			margin-bottom: 1rem;
			padding: 0 1rem;

			p {
				line-height: 1rem;
			}
		}

		.mail-form {
			min-height: 6rem;
		}

		.forward {
			background-color: transparent;
			margin: 1rem 0;
			padding: 0;

			a { 
				
			}

			p {
				width: auto;
			}

			.icon {
				display: none;
			}
		}
		.sub-container {
			@include clearfix();
		}
	}
}

@media all and (min-width: 768px) and (max-width: 999px) {
	//2 columns
	.home {
		.read-more, .socials {
			@include span-columns(6);
			.forward {
				@include span-columns(3 of 6);
			}
		}
		
		.socials {
			@include omega();
		}

		.mail-form {
			@include span-columns(12);
			@include omega();
		}
	}
}

@media all and (min-width: 1000px) {
	//3 columns
	.home {
		.read-more, .socials, .mail-form {
			@include span-columns(4);
			.forward {
				@include span-columns(2 of 4);
			}
		}
		
		.mail-form {
			@include omega();
		}
	}
}

/*
@media all and (min-width: 1400px) {
	//4 columns
	.home {
		.read-more, .socials {
			@include span-columns(3);
			.forward {
				@include span-columns(1.5 of 3);
			}
		}
		
		.mail-form {
			@include span-columns(6);
			@include omega();
		}
	}
}
*/

