.columns {
		column-count: 1;
		column-gap: 1rem;
		widows: 1;
		orphans: 1;

		> * {
			display: inline-block;
			width: 100%;
		}


		@media all and (min-width: 768px) {
			column-count: 2;		
		}

		@media all and (min-width: 1000px) {
			column-count: 3;		
		}

		@media all and (min-width: 1400px) {
			column-count: 3;		
		}
	}