#header {

  margin-top: 2em;
  margin-bottom: 8em;

  #header_top {
    height: 5em;
    @include outer-container();
    position: relative;
  }

  #logo_supsi {
    @include span-columns(4);
    display: block;
    position: absolute;
    width: 8em;
  }

  #socials {
    @include span-columns(8);
    @include shift(4);
    text-align: right;
    display: block;
    font-size: .7em;
  }

  #socials a:link, a:visited {
    color: black;
    font-size: 1em;
    text-decoration: none;
  }

  #socials a:hover {
    font-size: 1em;
    text-decoration: underline;
  }

  #header_bottom {
    position: relative;
    height: 6em;
    margin-top: 2em;
  }

  #logo_maind {
    display: block;
    height: 6em;
  }

  #header_nav {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    @include span-columns(9);
    font-weight: 600;
    //@include omega();
    //background-color: #00d6b2;
    text-align: right;

  }

  #header_nav a:link, a:visited {
    font-size: 1em;
    text-decoration: none;
  }

  #header_nav a:hover {
    font-size: 1em;
    text-decoration: underline;
  }

}