#page_container {
  @include outer-container;
}

.main_box {
  @include span-columns(6);
  position: relative;
  display: block;
  height: 15em;
  margin-bottom: 1.5em;
  background-color: black;
  color: white;
  padding: 1em;
  font-weight: 700;
  font-size: 1.5em;
}

.main_box a:link, a:visited, a:hover {
  color: white;
  font-size: 1.1em;
  text-decoration: underline;
}

.post_thumb {
  @include span-columns(3);
  @include omega(4n);
  display: block;
  position: relative;
  height: 22em;
  margin-bottom: 1.5em;
  background-color: #EEE;
  background-size: cover;
  background-position: center;
}

.post_thumb a:link, a:visited {
  color: white;
  text-decoration: none;
}

.post_thumb:hover {

  .post_title {
    visibility: visible;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, .8);
    padding: .5em 0 0 1em;

    -moz-animation-direction: normal;
    -moz-animation-fill-mode: both;
    -moz-animation-timing-function: ease-in-out;
    -moz-animation-name: slide-up;
    -moz-animation-duration: .4s;
    /*
    animation-timing-function: ease-in-out;
    animation-name: slide-up;
    animation-duration: 1s;

    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-name: slide-up;
    -webkit-animation-duration: 1s;
    */
  }


  .post_cat {
    visibility: visible;
  }
}

.post_cat {
  visibility: visible;
  display: block;
  color: white;
  position: absolute;
  top: 0.66em;
  right: 0.5em;
  font-weight: 300;
  font-size: 0.6em;
  padding: .5em .5em .5em .5em;
  height: 2.5em;
  text-align: center;
  width: auto;
  background-color: black;
}

.post_title {
  visibility: visible;
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  text-align: left;
  background-color: rgba(0, 0, 0, .8);
  font-size: .8em;

  padding: .5em 0 0 1em;

  -moz-animation-direction: normal;
  -moz-animation-fill-mode: both;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-name: slide-down;
  -moz-animation-duration: .4s;
}

.post_title a:link, a:visited, a:hover {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

/*
@keyframes slide-up {
  from {
    height: 0;
  }
  to {
    height: 80px;
  }
}

@-webkit-keyframes slide-up {
  from {
    height: 0;
  }
  to {
    height: 80px;
  }
}

*/

@-moz-keyframes slide-up {
  from {
    height: 0;
    padding-top: 0;
  }
  to {
    height: 80px;
    padding-top: .5em;
  }
}

@-moz-keyframes slide-down {
  from {
    height: 80px;
    padding-top: .5em;
  }
  to {
    height: 0px;
    padding-top: 0;
  }
}
